img {
    width: 300px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    background-color: navy;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7rem;
    color: red;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: 1.2rem;

}

